<!DOCTYPE html>
<html lang="en" class="no-js" data-ng-app="todoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>My AngularJS App</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <!--
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    -->

    <style>
        h3 span.toomany {
            color: red;
        }
    </style>
</head>
<body data-ng-controller="todoController">

<h1>TodoApp</h1>

<h2 ng-bind="title"></h2>
<!-- Other way of binding data from scope: -->
<!-- <h2>{{title}}</h2> -->

<h3 ng-hide="incomplete() === 0">Incomplete items: <span ng-bind="incomplete()" ng-class="{ toomany: incomplete() > 1}"></span></h3>

<input type="text" ng-model="inputText" />
<button ng-click="addTodo()">Add</button>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="todo in data | filter: {'done': false} | orderBy: 'description'"><!-- for descending add a '-' before description -->
            <td ng-bind="todo.description"></td>
            <!--
            <td ng-if="todo.done">Yes</td>
            <td ng-if="!todo.done">No</td>
            -->
            <td><input type="checkbox" ng-model="todo.done" /></td>
        </tr>
    </tbody>
</table>

</body>
</html>
